:root {
    --animate-duration: 2s;
  }
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  html {
    color: #636363;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .container {
    max-width: 1199px;
    margin: auto;
  }
  .btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    /* background-image: linear-gradient( */
     background-color: #35a22c;
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .btn-gradient:hover {
    background-position: right center;
  }
  .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
  }
  .title h2 {
    font-size: 30px;
    
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
  }
  .section-inner {
    padding-top: 115px;
  }
  .animateDuration {
    animation-duration: 2s;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  nav ul {
    display: flex;
    margin-right: 30px;
  }

  .aboutUs {
    /* background-image: url(../img/bg15.png); */
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
  }
  .aboutUs__content {
    display: flex;
    justify-content: flex-end;
   border-bottom: 3px solid rgb(17, 74, 232);
    position: relative;
    height: 600px;
  }
  .aboutUs__left {
    width: 40%;
    text-align: center;
    margin-right: 20px;
  }
  .aboutUs__right {
    width: 60%;
  }
  .aboutUs__left img {
    width: 90%;
    height: 70%;
    border-radius: 10px;
  }
  .aboutUs__right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
  }
  .aboutUs__right p {
    margin-bottom: 15px;
  }
  .aboutUs__right ul {
    margin-bottom: 30px;
  }
 
  
  @keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  @keyframes move2 {
    0% {
      transform: rotate(1deg) translate(2px, 2px);
    }
    50% {
      transform: rotate(-1deg) translate(-2px, -2px);
    }
    100% {
      transform: rotate(1deg) translate(2px, 2px);
    }
  }
  @keyframes toLeftFromRight {
    49% {
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  